.row{
background-color: gainsboro;
}
.blue{
background-color: blue;
}
.col-md-3{
background-color: red;
}
.red{
background-color: red;
}
.orange{
background-color: aqua;
}
.green{
background-color: deeppink;
}
